.entete__header{
    background-image: url("images/unitylogo.png");
    background-repeat: no-repeat;
    background-position: center right;
}

.entete__header span{
    display: block;
}

@media screen and (max-width: 800px){
    .entete__header{
        background-position: center;
    }
}