body{
    display: flex;
    flex-direction: column;
    font-family: 'Permanent Marker', cursive;
}

.global{
    display: flex;
    justify-content: center;
    min-height: 30vh;
}

.global > section,
.global > header,
.global > footer{
    flex: 0 1 var(--largeurMax);
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5rem 1rem;
    border-radius: 10px;
}

.global > section:hover,
.global > header:hover,
.global > footer:hover{
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#entete{
    background-color: var(--couleur-arriere-entete);
    color: var(--couleur-entete);
}
#acceuil{
    background-color: var(--couleur-arriere-acceuil);
    color: var(--couleur-acceuil);
}
#galerie{
    background-color: var(--couleur-arriere-galerie);
    color: var(--couleur-galerie);
}
#evenement{
    background-color: var(--couleur-arriere-evenement);
    color: var(--couleur-evenement);
}
#footer{
    background-color: var(--couleur-arriere-footer);
    color: var(--couleur-footer);
}