body{
    display: flex;
    flex-direction: column;
    font-family: 'Permanent Marker', cursive;
}

.global{
    display: flex;
    justify-content: center;
    min-height: 30vh;
}

.global > section,
.global > header,
.global > footer{
    flex: 0 1 900px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5rem 1rem;
}

#entete{
    background-color: var(--couleur-arriere-entete);
}
#acceuil{
    background-color: var(--couleur-arriere-acceuil);
}
#galerie{
    background-color: var(--couleur-arriere-galerie);
}
#evenement{
    background-color: var(--couleur-arriere-evenement);
}
#footer{
    background-color: var(--couleur-arriere-footer);
}