:root {
    --couleur-arriere-entete: rgb(255, 75, 75);
    --couleur-arriere-footer: rgb(88, 41, 41);
    --couleur-arriere-galerie: rgb(85, 105, 51);
    --couleur-arriere-acceuil: rgb(36, 81, 36);
    --couleur-arriere-evenement: rgb(45, 84, 97);
    --couleur-h2: rgba(50, 175, 54, 0.8);
    --largeurMax: 900px;
}