:root {
    /*
    --couleur-arriere-entete: rgb(255, 75, 75);
    --couleur-arriere-footer: rgb(88, 41, 41);
    --couleur-arriere-galerie: rgb(85, 105, 51);
    --couleur-arriere-acceuil: rgb(36, 81, 36);
    --couleur-arriere-evenement: rgb(45, 84, 97);
    --couleur-h2: rgba(50, 175, 54, 0.8);
    --largeurMax: 900px;
    */
    --nb-element: 5;
    --increment-angle: calc(360 / var(--nb-element));
    --angle-initial: 224;

    --hu1: var(--angle-initial);
    --hu2: calc(var(--hu1) + 180);
    --hu3: calc(var(--hu2) + var(--increment-angle));
    --hu4: calc(var(--hu3) + var(--increment-angle));
    --hu5: calc(var(--hu4) + var(--increment-angle));

    --s-couleur-arriere: 100%; //saturation
    --l-couleur-arriere: 50%;//luminosite
    --s-couleur: 100%;//saturation
    --l-couleur: 80%;//luminosite

    --couleur-arriere-entete: hsl(var(--hu1), var(--s-couleur-arriere), 60%);
    --couleur-arriere-footer: hsl(var(--hu1), var(--s-couleur-arriere), 65%);
    --couleur-arriere-galerie: hsl(var(--hu2), var(--s-couleur-arriere), 70%);
    --couleur-arriere-acceuil: hsl(var(--hu1), var(--s-couleur-arriere), 75%);
    --couleur-arriere-evenement: hsl(var(--hu1), var(--s-couleur-arriere), 80%);

    --couleur-entete: hsl(var(--hu2), var(--s-couleur), 60%);
    --couleur-footer: hsl(var(--hu2), var(--s-couleur), 65%);
    --couleur-galerie: hsl(var(--hu1), var(--s-couleur), 70%);
    --couleur-acceuil: hsl(var(--hu2), var(--s-couleur), 75%);
    --couleur-evenement: hsl(var(--hu2), var(--s-couleur), 80%);

    --couleur-h2: rgba(0, 0, 0, 0.8);
    --largeurMax: 900px;

    --couleur-arriere-boutons: hsl(var(--hu1), var(--s-couleur-arriere), 90%);

    --couleur-arriere-boutons-bas: hsl(var(--hu1), var(--s-couleur), 70%);
    --couleur-arriere-boutons-haut: hsl(var(--hu2), var(--s-couleur), 70%);

    --couleur-arriere-boutons-hover-bas: hsl(var(--hu3), var(--s-couleur), 50%);
    --couleur-arriere-boutons-hover-haut: hsl(var(--hu2), var(--s-couleur), 50%);

    --couleur-arriere-boutons-hover-active-bas: hsl(var(--hu3), var(--s-couleur), 65%);
    --couleur-arriere-boutons-hover-active-haut: hsl(var(--hu2), var(--s-couleur), 65%);

    --couleur-lien: hsl(var(--hu1), var(--s-couleur), 60%);
    --couleur-hover: hsl(var(--hu2), var(--s-couleur), 70%);
    --couleur-focus: hsl(var(--hu3), var(--s-couleur), 100%);
}