:root {
    --couleur-arriere-entete: rgb(82, 63, 63);
    --couleur-arriere-footer: red;
    --couleur-arriere-galerie: black;
    --couleur-arriere-acceuil: green;
    --couleur-arriere-evenement: rgb(0, 191, 255);

}