.cours__section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carte{
    border: 2px solid var(--couleur-acceuil);
    border-radius: 0%;
    background-color: var(--couleur-galerie);
    color: var(--couleur-acceuil);
    display: flex;
    padding: 0 1em;
    margin-bottom: 2rem;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 1 calc(1010/4);
    transition: border 0.5s ease, border-radius 0.5s ease, color 0.5s ease, transform 0.5s ease;
}
.carte:hover{
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    transform: translateY(-1em);
}