.cours__section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
}

.carte{
    border: 2px solid var(--couleur-acceuil);
    border-radius: 0%;
    background-color: var(--couleur-galerie);
    color: var(--couleur-acceuil);
    display: flex;
    padding: 0 1em;
    margin-bottom: 2rem;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 20vh;
    min-width: 15vw;
    transition: border 0.5s ease, border-radius 0.5s ease, color 0.5s ease, transform 0.5s ease;
}
.carte h1{
    font-size: clamp(1.5rem, 2vw, 2rem);
}
.carte:hover{
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    transform: translateY(-1em);
}

.carte .post-categories{
    list-style: none;
    display: flex;
    flex-grow: 1;
}