// <div class="entete__menu">
//     //generer par wp_nav_menu()
//     <div class="menu-entete-container">
//         <ul id="menu-entete" class="menu">
//             <li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-32"><a href="http://localhost/4w4/2020/10/07/582-6n3-stage-285h/">Stage</a></li>
//             <li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-33"><a href="http://localhost/4w4/2020/10/07/582-5mbtechnologies-emergentes-et-avancees-volet-creation-60h/">Technologies émergentes</a></li>
//             <li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-34"><a href="http://localhost/4w4/2020/10/07/582-5w5-projet-web-en-equipe-105h/">Projet Web en équipe</a></li>
//             <li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-35"><a href="http://localhost/4w4/2020/10/07/350-5n1-communication-et-dynamique-dune-equipe-de-travail-45h/">Communication et dynamique d’une équipe de travail</a></li>
//             <li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-36"><a href="http://localhost/4w4/2020/10/07/393-5e1-methodes-de-recherche-et-preparation-au-marche-du-travail-45h/">Méthodes de recherche</a></li>
//         </ul>
//     </div>
// </div>
.menu-entete-container{
    width: 100%;
    color: white;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background-color: var(--couleur-arriere-entete);
    transition: transform 0.5s ease;
    height: 100vh;
    @media screen and (min-width: 700px){
        position: static;
        transform: translateX(0);
        height: auto;
    }
}
.menu{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10vh 1em 0 1em;
    background-color: var(--couleur-arriere-entete);
    margin: 0;
    height: 80%;
    gap: 1em;
    @media screen and (min-width: 700px){
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
.menu-item{
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    background-color: orange;
    flex: 1 0 0%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    @media screen and (min-width: 700px){
        height: 3em;
    }
}

#chk_burger{
    display: none;
}

#burger{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 10%;
    width: 10%;
    min-width: 2em;
    @media screen and (min-width: 700px){
        display: none;
    }
}
#burger > svg{
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    transform: rotate(0deg);
}
#chk_burger:checked ~ .menu-entete-container{
    transform: translateX(0);
}

#chk_burger:checked + #burger > svg{
    transform: rotate(90deg);
}