.recherche{
    display: flex;
    justify-content: space-between;
    width: 40rem;
    height: 4rem;
}
.recherche__input{
    display: block;
    width: 85%;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid black;
    border-right: none;
    border-radius: 10px 0px 0px 10px;
    background: linear-gradient(180deg, var(--couleur-arriere-boutons-bas), var(--couleur-arriere-boutons-haut));
    transition: border 0.5s ease, background 0.5s ease, font-size 0.5s ease;
}
.recherche__input:hover, .recherche__input:hover ~ button{
    background: linear-gradient(180deg, var(--couleur-arriere-boutons-bas), var(--couleur-focus));
    font-size: 18pt;
}
.recherche__input:focus{
    background: linear-gradient(180deg, var(--couleur-arriere-boutons-bas), var(--couleur-focus));
    border: 2px solid var(--couleur-focus);
    font-size: 18pt;
}
.recherche__input:focus ~ button{
    background: linear-gradient(180deg, var(--couleur-arriere-boutons-bas), var(--couleur-focus));
    font-size: 18pt;
}
.recherche__button{
    width: 15%;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid black;
    border-left: none;
    background: linear-gradient(180deg, var(--couleur-arriere-boutons-bas), var(--couleur-arriere-boutons-haut));
}