.youtube{
    width: 20vw;
    height: 10vh;
    transition: transform 0.5s ease, border-radius 0.5s ease, background-color 0.5s ease, border 0.5s ease;
    background-color: var(--couleur-arriere-boutons);
    border: 2px solid var(--couleur-arriere-boutons);
}
.github{
    width: 20vw;
    height: 10vh;
    transition: transform 0.5s ease, border-radius 0.5s ease, background-color 0.5s ease, border 0.5s ease;
    background-color: var(--couleur-arriere-boutons);
    border: 2px solid var(--couleur-arriere-boutons);
    margin-left: 2rem;
}
.youtube:hover, .github:hover{
    transform: scale(1.2);
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
}
.lesBoutons{
    display: flex;
    justify-content: space-around;
}

/********** Entete *************/
.entete__button {
    font-size: clamp(1rem, 0.4375rem + 3vw, 2rem);
    padding: 10px 30px;
    border: 2px solid var(--couleur-arriere-entete);
    transform: scale(1) translateY(0px);
    color: black;
    border-radius: 10px;
    cursor: none;
    background-image: linear-gradient(180deg, var(--couleur-arriere-boutons-bas), var(--couleur-arriere-boutons-haut));
    transition: background-image 0.5s ease, border 0.5s ease, transform 0.5s ease, cursor 0.5s ease, box-shadow 0.5s ease;

    &:hover{
        background-image: linear-gradient(180deg, var(--couleur-arriere-boutons-hover-bas), var(--couleur-arriere-boutons-hover-haut));
        border: 2px solid white;
        transform: scale(1.2) translateY(-10px);
        cursor: pointer;
        box-shadow: 0px 0px 10px white;
    }

    &:active{
        background-image: linear-gradient(180deg, var(--couleur-arriere-boutons-hover-active-bas), var(--couleur-arriere-boutons-hover-active-haut));
        border: 2px solid white;
        color: white;
        transform: scale(1.2) translateY(-10px);
        cursor: pointer;
    }
}