#luffy{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px solid lightblue;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
    filter: grayscale(100%);
    transition: filter 0.5s ease;
}
#luffy:hover{
    filter: grayscale(0%);
}