a {
    color: var(--couleur-lien);
    @media screen and (min-width: 700px){
        text-decoration: none;   
    }
    &:hover, &:focus{
        color: var(--couleur-hover);
    }
    
    &:focus{
        color: var(--couleur-focus);
    }
}